body {
    font-family: Arial;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff7043;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #333;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
}

section {
    padding: 20px;
}

img {
    width: 100%;
    max-width: 800px;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px;
}
